In [38]:
import pandas as pd
colNames = ['Sample code number','Clump Thickness', 'Uniformity of Cell Size','Uniformity of Cell Shape','Marginal Adhesion', 'Single Epithelial Cell Size','Bare Nuclei','Bland Chromatin','Normal Nucleoli','Mitoses','Class']
data = pd.read_csv("https://archive.ics.uci.edu/ml/machine-learning-databases/breast-cancer-wisconsin/breast-cancer-wisconsin.data",
                  names = colNames)
data.head(10)

,Sample code number,Clump Thickness,Uniformity of Cell Size,Uniformity of Cell Shape,Marginal Adhesion,Single Epithelial Cell Size,Bare Nuclei,Bland Chromatin,Normal Nucleoli,Mitoses,Class
0,1000025,5,1,1,1,2,1,3,1,1,2
1,1002945,5,4,4,5,7,10,3,2,1,2
2,1015425,3,1,1,1,2,2,3,1,1,2
3,1016277,6,8,8,1,3,4,3,7,1,2
4,1017023,4,1,1,3,2,1,3,1,1,2
5,1017122,8,10,10,8,7,10,9,7,1,4
6,1018099,1,1,1,1,2,10,3,1,1,2
7,1018561,2,1,2,1,2,1,3,1,1,2
8,1033078,2,1,1,1,2,1,1,1,5,2
9,1033078,4,2,1,1,2,1,2,1,1,2

In [39]:
import numpy as np
data = data.replace(to_replace = "?", value = np.nan)
data = data.dropna()
print(data)
x = data[colNames[1:10]]
y = data[colNames[10]]

     Sample code number  Clump Thickness  Uniformity of Cell Size  \
0               1000025                5                        1
1               1002945                5                        4
2               1015425                3                        1
3               1016277                6                        8
4               1017023                4                        1
5               1017122                8                       10
6               1018099                1                        1
7               1018561                2                        1
8               1033078                2                        1
9               1033078                4                        2
10              1035283                1                        1
11              1036172                2                        1
12              1041801                5                        3
13              1043999                1                        1
14              1044572                8                        7
15              1047630                7                        4
16              1048672                4                        1
17              1049815                4                        1
18              1050670               10                        7
19              1050718                6                        1
20              1054590                7                        3
21              1054593               10                        5
22              1056784                3                        1
24              1059552                1                        1
25              1065726                5                        2
26              1066373                3                        2
27              1066979                5                        1
28              1067444                2                        1
29              1070935                1                        1
30              1070935                3                        1
..                  ...              ...                      ...
669             1350423                5                       10
670             1352848                3                       10
671             1353092                3                        2
672             1354840                2                        1
673             1354840                5                        3
674             1355260                1                        1
675             1365075                4                        1
676             1365328                1                        1
677             1368267                5                        1
678             1368273                1                        1
679             1368882                2                        1
680             1369821               10                       10
681             1371026                5                       10
682             1371920                5                        1
683              466906                1                        1
684              466906                1                        1
685              534555                1                        1
686              536708                1                        1
687              566346                3                        1
688              603148                4                        1
689              654546                1                        1
690              654546                1                        1
691              695091                5                       10
692              714039                3                        1
693              763235                3                        1
694              776715                3                        1
695              841769                2                        1
696              888820                5                       10
697              897471                4                        8
698              897471                4                        8

     Uniformity of Cell Shape  Marginal Adhesion  Single Epithelial Cell Size  \
0                           1                  1                            2
1                           4                  5                            7
2                           1                  1                            2
3                           8                  1                            3
4                           1                  3                            2
5                          10                  8                            7
6                           1                  1                            2
7                           2                  1                            2
8                           1                  1                            2
9                           1                  1                            2
10                          1                  1                            1
11                          1                  1                            2
12                          3                  3                            2
13                          1                  1                            2
14                          5                 10                            7
15                          6                  4                            6
16                          1                  1                            2
17                          1                  1                            2
18                          7                  6                            4
19                          1                  1                            2
20                          2                 10                            5
21                          5                  3                            6
22                          1                  1                            2
24                          1                  1                            2
25                          3                  4                            2
26                          1                  1                            1
27                          1                  1                            2
28                          1                  1                            2
29                          3                  1                            2
30                          1                  1                            1
..                        ...                ...                          ...
669                        10                  8                            5
670                         7                  8                            5
671                         1                  2                            2
672                         1                  1                            2
673                         2                  1                            3
674                         1                  1                            2
675                         4                  1                            2
676                         2                  1                            2
677                         1                  1                            2
678                         1                  1                            2
679                         1                  1                            2
680                        10                 10                            5
681                        10                 10                            4
682                         1                  1                            2
683                         1                  1                            2
684                         1                  1                            2
685                         1                  1                            2
686                         1                  1                            2
687                         1                  1                            2
688                         1                  1                            2
689                         1                  1                            2
690                         1                  3                            2
691                        10                  5                            4
692                         1                  1                            2
693                         1                  1                            2
694                         1                  1                            3
695                         1                  1                            2
696                        10                  3                            7
697                         6                  4                            3
698                         8                  5                            4

    Bare Nuclei  Bland Chromatin  Normal Nucleoli  Mitoses  Class
0             1                3                1        1      2
1            10                3                2        1      2
2             2                3                1        1      2
3             4                3                7        1      2
4             1                3                1        1      2
5            10                9                7        1      4
6            10                3                1        1      2
7             1                3                1        1      2
8             1                1                1        5      2
9             1                2                1        1      2
10            1                3                1        1      2
11            1                2                1        1      2
12            3                4                4        1      4
13            3                3                1        1      2
14            9                5                5        4      4
15            1                4                3        1      4
16            1                2                1        1      2
17            1                3                1        1      2
18           10                4                1        2      4
19            1                3                1        1      2
20           10                5                4        4      4
21            7                7               10        1      4
22            1                2                1        1      2
24            1                3                1        1      2
25            7                3                6        1      4
26            1                2                1        1      2
27            1                2                1        1      2
28            1                2                1        1      2
29            1                1                1        1      2
30            1                2                1        1      2
..          ...              ...              ...      ...    ...
669           5                7               10        1      4
670           8                7                4        1      4
671           1                3                1        1      2
672           1                3                1        1      2
673           1                1                1        1      2
674           1                2                1        1      2
675           1                1                1        1      2
676           1                2                1        1      2
677           1                1                1        1      2
678           1                1                1        1      2
679           1                1                1        1      2
680          10               10               10        7      4
681          10                5                6        3      4
682           1                3                2        1      2
683           1                1                1        1      2
684           1                1                1        1      2
685           1                1                1        1      2
686           1                1                1        1      2
687           1                2                3        1      2
688           1                1                1        1      2
689           1                1                1        8      2
690           1                1                1        1      2
691           5                4                4        1      4
692           1                1                1        1      2
693           1                2                1        2      2
694           2                1                1        1      2
695           1                1                1        1      2
696           3                8               10        2      4
697           4               10                6        1      4
698           5               10                4        1      4

[683 rows x 11 columns]

In [43]:
def LogisticReg(x, y):
    
    # split data into training and test
    from sklearn.model_selection import train_test_split
    x_train, x_test, y_train, y_test = train_test_split(x, y, test_size = 0.25)
    
    # initialize linearRegression
    from sklearn.linear_model import LogisticRegression
    lg = LogisticRegression()
    lg.fit(x_train, y_train)
    print(lg)
    print(lg.predict(x_test))
    
    #
    from sklearn.metrics import classification_report
    print(classification_report(lg.predict(x_test), y_test))
    
    return None


if __name__ == "__main__":
    LogisticReg(x, y)

LogisticRegression(C=1.0, class_weight=None, dual=False, fit_intercept=True,
          intercept_scaling=1, max_iter=100, multi_class='warn',
          n_jobs=None, penalty='l2', random_state=None, solver='warn',
          tol=0.0001, verbose=0, warm_start=False)
[2 2 4 4 4 2 4 2 2 2 4 4 4 2 2 4 2 4 4 2 2 4 2 2 4 4 4 2 4 2 4 2 4 4 2 2 4
 2 2 2 4 2 4 2 2 2 2 2 2 4 2 4 4 4 4 4 2 2 2 2 4 2 2 2 2 2 2 2 2 2 4 4 2 4
 2 4 2 2 2 2 4 2 2 2 4 2 4 2 2 4 4 2 4 2 2 2 2 2 4 4 2 4 2 4 4 2 2 4 2 2 2
 2 2 4 2 2 2 2 4 4 2 2 4 2 2 2 4 2 2 4 4 2 4 4 4 2 2 2 2 4 4 2 4 2 2 2 2 2
 4 4 4 2 2 4 2 2 2 4 2 4 4 2 2 2 4 2 2 2 2 4 2]
              precision    recall  f1-score   support

           2       0.97      0.97      0.97       105
           4       0.95      0.95      0.95        66

   micro avg       0.96      0.96      0.96       171
   macro avg       0.96      0.96      0.96       171
weighted avg       0.96      0.96      0.96       171

/Users/cail/anaconda/envs/jupyterlab/lib/python3.6/site-packages/sklearn/linear_model/logistic.py:433: FutureWarning: Default solver will be changed to 'lbfgs' in 0.22. Specify a solver to silence this warning.
  FutureWarning)